<div class="relative flex">
  <div
    class="flex items-start gap-2 relative hover:bg-lightDark/70 px-2 w-full"
    (mouseenter)="hovered = true"
    (mouseleave)="hovered = false"
  >
    <span>
      <app-none-priority-icon></app-none-priority-icon>
    </span>
    <span>Deadline</span>
  </div>
  <div
    class="
      absolute
      bg-dark
      z-10
      border
      border-fountainBlue
      w-max
      right-full
    "
    [ngClass]="hovered ? 'block' : 'hidden'"
    (mouseenter)="hovered = true"
    (mouseleave)="hovered = false"
  >
    <ul>
      <li
        class="hover:bg-lightDark/70 px-1 flex items-center gap-2"
        (click)="clearDeadline()"
      >
        <div class="flex grow">
          <div class="w-5">
            <app-none-priority-icon></app-none-priority-icon>
          </div>
          <span>
            Eliminar fecha
          </span>
        </div>
      </li>
      <li
        class="hover:bg-lightDark/70 px-1 flex items-center gap-2"
        (click)="changeDeadline(tomorrow)"
      >
        <div class="flex grow">
          <div class="w-5">
            <app-none-priority-icon></app-none-priority-icon>
          </div>
          <span>
            Mañana
          </span>
        </div>
      </li>
      <li
        class="hover:bg-lightDark/70 px-1 flex items-center gap-2"
        (click)="changeDeadline(nextWeek)"
      >
        <div class="flex grow">
          <div class="w-5">
            <app-none-priority-icon></app-none-priority-icon>
          </div>
          <span>
            En una semana
          </span>
        </div>
      </li>
      <!-- @for (priority of listPriority; track $index) {
      <li class="hover:bg-lightDark/70 px-1 flex items-center gap-2" (click)="changePriority(priority)">

        <div class="flex grow">
          <div class="w-5">
            @switch (priority) {
            @case ('NONE') {
              <app-none-priority-icon></app-none-priority-icon>
            }
            @case ('LOW') {
              <app-low-priority-icon></app-low-priority-icon>
            }
            @case ('MEDIUM') {
              <app-medium-priority-icon></app-medium-priority-icon>
            }
            @case ('HIGH') {
              <app-high-priority-icon></app-high-priority-icon>
            }
            @case ('CRITICAL') {
              <app-critical-priority-icon></app-critical-priority-icon>
            }
            }
          </div>
          <span>
            {{ priority }}
          </span>
        </div>
        <div class="w-5">
          @if (taskPriority === priority) {
            <app-circle-check-icon></app-circle-check-icon>
          }
        </div>
      </li>
      } -->
    </ul>
  </div>

</div>
