<div class="w-full h-screen py-4 pr-4">
  <div class="
  flex
  flex-col
  border
  border-fountainBlue/40
  h-full
  p-2
  before:content-['Login']
  before:relative
  before:top-[-1.5rem]
  before:bg-dark
  text-white
  before:text-white/80
  before:w-min
  before:px-2
  hover:bo
  hover:before:text-error
  hover:border-fountainBlue
  ">
    <div class="w-full">
      <div class="flex" >
        <!-- if mode login bg red -->
        <button
          class="border border-fountainBlue p-2"
          (click)="switchMode('login')"
          [class]="mode === 'login' ? 'bg-fountainBlue' : ''"
        >
          Login
        </button>
        <button (click)="switchMode('register')" class="border border-fountainBlue p-2" [class]="mode === 'register' ? 'bg-fountainBlue' : ''">
          Register
        </button>
      </div>
      <form class="flex flex-col gap-2" [formGroup]="loginForm">
        @if (mode === 'register') {
          <div class="flex flex-col">
            <label for="email">Email</label>
            <input
              class="border border-fountainBlue p-2 outline-none bg-transparent focus:border-fountainBlue placeholder-shown:text-fountainBlue/40"
              placeholder="Email" type="email" name="email" formControlName="email" required />
          </div>
        }
        <div class="flex flex-col">
          <label for="username">Username</label>
          <input
            class="border border-fountainBlue p-2 outline-none bg-transparent focus:border-fountainBlue placeholder-shown:text-fountainBlue/40"
            placeholder="Username" type="text" name="username" formControlName="username" required />
        </div>
        <div class="flex flex-col">
          <label for="password">Password</label>
          <input
            class="border placeholder-shown:text-fountainBlue/40 border-fountainBlue p-2 outline-none bg-transparent focus:border-fountainBlue "
            type="password" placeholder="Password" id="password" name="password" formControlName="password" required />
        </div>
        <button (click)="onSubmit()" class="bg-fountainBlue/40 text-white p-2 rounded-md">
          @switch (mode) {
            @case ('login') {
              Login
            }
            @case ('register') {
              Register
            }
          }
        </button>
      </form>
    </div>
  </div>
</div>
