<div class="m-auto max-w-[800px]">
  <form [formGroup]="workspaceForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-2">

    @if (isValidField('name')) {
    <span>
      {{getErrorMessage('name')}}
    </span>
    }
    <input
      class="text-white bg-dark border border-fountainBlue w-full outline-none p-1 "
      type="text"
      formControlName="name"
      placeholder="Workspace name"
    />
    @if (isValidField('description')) {
    <span>
      {{getErrorMessage('description')}}
    </span>
    }
    <input
      type="text"
      formControlName="description"
      placeholder="Workspace description"
      class="text-white bg-dark border border-fountainBlue w-full outline-none p-1"
      />
    <button type="submit" [ngClass]="{
        'text-gray-500': loading,
        'text-red-500': errorSaving,
      }" [disabled]="loading">

      <span>{{loading ? 'Loading...' : 'Create'}}</span>
    </button>

  </form>

</div>
