<div>
  <form [formGroup]="workspaceForm" (ngSubmit)="onSubmit()" class="flex flex-col">

    @if (isValidField('name')) {
    <span>
      {{getErrorMessage('name')}}
    </span>
    }
    <input type="text" formControlName="name" placeholder="Workspace name" />
    @if (isValidField('description')) {
    <span>
      {{getErrorMessage('description')}}
    </span>
    }
    <input type="text" formControlName="description" placeholder="Workspace description" />
    <button type="submit" [ngClass]="{
        'text-gray-500': loading,
        'text-red-500': errorSaving,
      }" [disabled]="loading">

      <span>{{loading ? 'Loading...' : 'Create'}}</span>
    </button>

  </form>

</div>
