<div>
  <nav>
    <ul class="flex gap-2">
      <li>
        <button (click)="section = 'tasks'">1 - tasks</button>
      </li>
      <li>
        <button (click)="section = 'teams'">2 - teams/users</button>
      </li>
      <li>
        <button (click)="section = 'categories'">3 - categories</button>
      </li>
      <li>
        <button (click)="section = 'options'">4 - options</button>
      </li>
    </ul>
  </nav>
  <div>
    @switch (section) {
      @case ('tasks'){
        <app-tasks-page
        [idWorkspace]="idWorkspace">
        </app-tasks-page>
      } @case ('teams'){ teams } @case ('categories'){
        <app-page-categories
          [idWorkspace]="idWorkspace"
        >
        </app-page-categories>
      } @case ('options'){
        <app-workspace-options-page
          [idWorkspace]="idWorkspace">
        </app-workspace-options-page>
      } @default {
        <div>default</div>
      }
    }
  </div>
</div>
