<div class="relative flex flex-col w-full">
  @if(label){
  <div class="">
    {{label}}
  </div>
  }
  <div>
    <button class="flex justify-between items-center w-full p-2 text-lg border border-black rounded-md bg-whiter"
      (click)="toggleOptionsVisibility()">
      @if (selectedOption()) {
      {{selectedOption().label}}
      } @else {
      Seleccionar
      }
      @if(isOptionsVisible){
      <i class="ri-arrow-down-s-fill"></i>
      }@else {
      <i class="ri-arrow-right-s-fill"></i>
      }
    </button>
  </div>
  <ul class="absolute top-[110%] flex-col border border-black rounded-md bg-whiter z-10 w-full max-h-44 overflow-y-auto"
    [class]="isOptionsVisible ? 'flex' : 'hidden'">
    @if(selectedOption() !== null){
    <li>
      <button (click)="selectOption(null)" class="p-2 text-lg bg-whiter cursor-pointer w-full text-left hover:bg-white/20">
        Deshacer selección
      </button>
    </li>
    }
    @for (option of options; track $index) {
    <li>
      <button (click)="selectOption(option)" class="p-2 text-lg bg-whiter cursor-pointer w-full text-left hover:bg-white/20"
        [class]="selectedOption === option ? 'option--selected' : ''">
        {{option.label}}
      </button>
    </li>
    }
  </ul>
</div>
