<div class="flex flex-col w-full border p-2 rounded-lg bg-bg text-white" [class]="{
    'border-green': toast.type === 'success',
    'border-yellow': toast.type === 'error',
    'border-red': toast.type === 'warning',
    'border-blue': toast.type === 'info',}">
  <div class="flex justify-between py-2">
    <span>{{toast.action}}</span>
    <button (click)="this.ToasterService.removeToast(toast.id)">
      <span>
        <i class="ri-close-line"></i>
      </span>
    </button>
  </div>
  <hr class="border" [class]="{
      'border-green': toast.type === 'success',
      'border-yellow': toast.type === 'error',
      'border-red': toast.type === 'warning',
      'border-blue': toast.type === 'info',
    }">
  <div class="py-2">
    <span>{{toast.message}}</span>
  </div>
</div>
