<div>
  <app-task-form
    [idWorkspace]="idWorkspace"
  ></app-task-form>
</div>
<div class="flex flex-col">
  @for (task of tasks(); track $index) {
    <app-tasks-item
      [task]="task"
      [categories]="categories()"
      [index]="$index"
      [isLast]="tasks.length - 1 === $index"
      (onDeleteTask)="DeleteTask($event)"
      (onChangeTask)="ChangeTask($event)"
      (onEditTask)="EditTask($event)"
    >
      @for (subtask of task.subtasks; track $index) {
        <app-subtask-item
          [isLast]="task.subtasks.length - 1 === $index"
        >
          <app-task-item
            [task]="subtask"
            [index]="$index"
            [categories]="categories()"
            (onDeleteTask)="DeleteTask($event)"
            (onChangeTask)="ChangeTask($event)"
          ></app-task-item>
        </app-subtask-item>
      }
    </app-tasks-item>
  }
</div>
