<div>
  <app-task-form
    [idWorkspace]="idWorkspace"
  ></app-task-form>
</div>

<!-- <div class="flex gap-2">
  <button (click)="clearFilters()" class="hover:bg-lightDark">
    clear filters
  </button>
  <button (click)="filterCompleted()" class="hover:bg-lightDark">
    toggle completed
  </button>
  <button (click)="filterSubtasks()" class="hover:bg-lightDark">
    toggle subtasks filter
  </button>
  <button (click)="filterBug()" class="hover:bg-lightDark">
    bug
  </button>
</div> -->
<app-filters></app-filters>

<div class="flex flex-col">
  @for (task of filteredTasks(); track $index) {
    <app-tasks-item
      [task]="task"
      [categories]="categories()"
      [index]="$index"
      [isLast]="tasks.length - 1 === $index"
      (onDeleteTask)="DeleteTask($event)"
      (onChangeTask)="ChangeTask($event)"
    >
    @if(task.subtasks != null && task.subtasks.length > 0){
      @for (subtask of task.subtasks; track $index) {
        <app-subtask-item
          [isLast]="task.subtasks != null && task.subtasks.length - 1 === $index"
        >
        <!-- {{ subtask.task.name }} -->
          <app-task-item
            [task]="subtask"
            [index]="$index"
            [categories]="categories()"
            (onDeleteTask)="DeleteTask($event)"
            (onChangeTask)="ChangeTask($event)"
          ></app-task-item>
        </app-subtask-item>
      }
    }
    </app-tasks-item>
  }
</div>
