<div class="h-full w-full flex">
  <app-sidebar></app-sidebar>
  <div class="flex-grow pt-4 p-2">
    <app-section [title]="'Dashboard'">
      <header class="flex w-full p-2">
        <div class="w-max">
          <app-button [outline]="true" (onClick)="this.workspaceFormService.open()">
            Nuevo workspace
          </app-button>
        </div>
        <app-workspace-form></app-workspace-form>
      </header>
      <hr class="divide-x-2 border-blue/40 my-4">
      <div class="flex flex-col gap-1">
        @for (workspace of userWorkspaces(); track $index) {
        <div class="w-full">
          <a [routerLink]="['/workspace', workspace.id]"
            class="block px-2 py-1  rounded-md hover:bg-comment/10 transition-colors overflow-hidden whitespace-nowrap">
            <span>
              {{workspace.name}}
            </span>
            @if (workspace.description !== undefined && workspace.description.length > 0) {
            <span class="text-xs text-comment">
              -
              {{workspace.description}}
            </span>
            }
          </a>
        </div>
        }
      </div>
    </app-section>
  </div>
</div>
