<div class="w-full h-full flex flex-col">
  <div class="flex-grow p-4">
    <app-section [title]="'Tasks'">
      @for (task of tasks(); track $index) {
      <app-task-container [haveSubtasks]="task.subtasks != null && task.subtasks.length > 0">
        <app-task-item role="task" [task]="task"></app-task-item>
        <div class="flex flex-col" role="subtasks">
          @for (subtask of task.subtasks; track $index) {
          <app-subtask-container [isLast]="task.subtasks != null && task.subtasks.length - 1 === $index">
            <app-task-item [task]="subtask"></app-task-item>
          </app-subtask-container>
          }
        </div>
      </app-task-container>
    }
    </app-section>
  </div>
</div>
