<div class="relative">
    <div
      class="border border-black p-2 cursor-pointer peer "
      (click)="displayed = !displayed"
    >{{value}}</div>
    <div
      [ngClass]="displayed ? 'block' : 'hidden'"
      class="absolute bg-white border border-black p-2"
    >
        <ul>
            <li *ngFor="let priority of listPriority">
							<div
                class="cursor-pointer hover:underline"
                (click)="select(priority)">
								{{priority}}
							</div>
            </li>
        </ul>
    </div>
</div>
