<div class="w-full h-full p-4 max-w-56 min-w-52" [ngClass]="{
  'hidden': !isOpen()
}">
  <app-section [title]="'sidebar'">
    <div class="flex flex-col w-full h-full gap-4 relative">
      <div class="w-full flex justify-end">
        <div class="w-min absolute -top-5 -right-5 bg-bg">
          <app-button (onClick)="this.sidebarService.close()" [outline]="true">
            <span class="flex items-center gap-2">
              <i class="ri-close-line"></i>
            </span>
          </app-button>
        </div>
      </div>
      <div class="py-2">
        <app-dropdown [direction]="'right'">
          <div role="selector" class="w-full">
            <app-button [theme]="'primary'" [outline]="true" role="selector">
              <span class="w-full flex justify-between hover:bg-comment/10">
                workspace
                <i class="ri-arrow-right-s-fill"></i>
              </span>
            </app-button>
          </div>
          <div role="list">
            <app-dropdown-list>
              @for (workspace of workspaces(); track $index) {
              <!-- <a [routerLink]="['/workspace', workspace.id]" routerLinkActive="underline"
                class="w-full px-1 py-0.5 cursor-pointer hover:bg-comment/10">
                {{ workspace.name }}
              </a> -->
              <app-link [href]="'/workspace/' + workspace.id" [outline]="true">
                {{ workspace.name }}
              </app-link>
              }
            </app-dropdown-list>
          </div>
        </app-dropdown>
      </div>
      <hr class="divide-x-2 border-blue/40">
      <nav class="flex-grow">
        <ul class="flex flex-col gap-2">
          <li>
            <app-link [href]="'/'" [outline]="true">Home</app-link>
          </li>
          <li>
            <app-link [href]="'/invitations'" [outline]="true">Invitations</app-link>
          </li>
        </ul>
      </nav>
      <div class="flex flex-col gap-2">
        <app-button [theme]="'primary'" [outline]="true" [routerLink]="['/profile']">
          {{ this.authenticationService.user!.username }}
        </app-button>
        <app-button [theme]="'primary'" [outline]="true" (onClick)="this.authenticationService.logout()">
          logout
        </app-button>
      </div>
    </div>
  </app-section>
</div>

@if (!isOpen()) {
<div class="absolute top-12 -left-2 z-50">
  <button (click)="this.sidebarService.open()"
    class="w-10 h-10 rounded-full hover:shadow-md items-center justify-center border border-transparent hover:border-white flex hover:bg-bg bg-transparent transition-all text-transparent hover:text-white ">
    <i class="ri-arrow-right-s-line"></i>
  </button>
</div>
}
