<div class="relative flex w-full">
  <div
    class="flex items-center justify-start w-full relative hover:bg-lightDark/70 px-2 gap-2 cursor-pointer"
    (mouseenter)="hovered = true"
    (mouseleave)="hovered = false"
    (click)="toggleCompleted()"
  >
    <span>
      @if (taskCompleted) {
        <app-check-box-icon></app-check-box-icon>
      }@else {
        <app-empty-box-icon></app-empty-box-icon>
      }
    </span>
    <span>{{ taskCompleted ? 'Uncomplete' : 'Complete' }}</span>
  </div>

</div>
