<!-- <details #itemTask open="opened()" (click)="null"> -->
<div>
  <!-- TASK -->
	<div class="flex hover:bg-lightDark/40">
		@if(task.subtasks != null && task.subtasks.length > 0){
			<span (click)="opened = !opened" class="cursor-pointer select-none">
				{{ opened ? '-' : '+' }}
			</span>
		}@else{
			<span class="cursor-default select-none">&nbsp;</span>
		}
		<app-task-item
      [task]="task"
			[father]="true"
      [index]="index"
      [categories]="categories"
      (onDeleteTask)="onDelete($event)"
      (onChangeTask)="onChange($event)"
    >
		</app-task-item>
	</div>
  <!-- SUBTASKS -->
	<div class="flex flex-col" [ngClass]="opened ? 'block' : 'hidden'">
    <ng-content></ng-content>
	</div>
</div>
