<div class="flex h-full w-full">
  <app-sidebar></app-sidebar>
  <div class="w-full h-full flex flex-col">
    <div class="h-min pt-4 px-2">
      <app-section [title]="'workspace'">
        <nav>
          <ul class="flex gap-4">
            <li>
              <a
                [routerLink]="['tasks']"
                routerLinkActive="active"
              >
                Tasks
              </a>
            </li>
            <li>
              <a [routerLink]="['users']" routerLinkActive="active">Users</a>
            </li>
            <li>
              <a [routerLink]="['categories']" routerLinkActive="active">Categories</a>
            </li>
            <li>
              <a [routerLink]="['options']" routerLinkActive="active">Options</a>
            </li>
          </ul>
        </nav>
      </app-section>
    </div>
    <div class="flex-grow">
      <router-outlet />
    </div>
  </div>
</div>
