<div class="flex gap-2">
  <!-- <button (click)="clearFilters()" class="hover:bg-lightDark">
    clear filters
  </button>
  <button (click)="filterCompleted()" class="hover:bg-lightDark">
    toggle completed
  </button>
  <button (click)="filterSubtasks()" class="hover:bg-lightDark">
    toggle subtasks filter
  </button>
  <button (click)="filterBug()" class="hover:bg-lightDark">
    bug
  </button> -->
  <button (click)="this.TaskFilterService.filterCompleted()" class="hover:bg-lightDark">
    toggle completed
  </button>
  @for (cat of categories; track $index) {
  <button (click)="this.TaskFilterService.toggleCategory(cat.id)" class="hover:bg-lightDark">
    {{cat.name}}
  </button>
  }
  <button (click)="this.TaskFilterService.clearFilters()" class="hover:bg-lightDark">
    clear filters
  </button>
</div>
