<div class="w-full h-screen py-4 pr-4">
  <div class="
  flex
  flex-col
  border
  border-fountainBlue/40
  h-full
  p-2
  before:content-['Dashboard']
  before:relative
  before:top-[-1.5rem]
  before:bg-dark
  text-white
  before:text-white/80
  before:w-min
  before:px-2
  hover:bo
  hover:before:text-error
  hover:border-fountainBlue
  ">

    <div class="w-full">
      <div class="w-full">
        <a [routerLink]="['/workspace/new']">Create new workspace</a>
      </div>
      <div>
        <div>
          <ul>
            @for (workspace of workspaces(); track $index) {
            <li>
              <app-workspace-item [userWorkspace]="workspace"></app-workspace-item>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
