<div class="w-full h-full pt-4 p-2 max-w-56 min-w-52" [ngClass]="{
  'hidden': !isOpen()
}">
  <app-section [title]="'sidebar'">
    <div class="flex flex-col w-full h-full gap-4 relative">
      <div class="w-full flex justify-end">
        <div class="z-50 w-min absolute top-16 -right-5 bg-transparent hover:bg-bg">
          <button (click)="this.sidebarService.close()"
            class="w-8 h-8 rounded-full hover:shadow-md items-center justify-center border border-transparent hover:border-white flex hover:bg-bg bg-transparent transition-all text-transparent hover:text-white ">
            <span class="flex items-center gap-2">
              <i class="ri-arrow-left-s-line text-xl"></i>
            </span>
          </button>
        </div>
      </div>
      <div class="py-2">
        <app-dropdown [direction]="'right'">
          <div class="w-full" role="selector">
            <span class="w-full flex justify-start hover:bg-comment/10 px-2 py-1 gap-2">
              <i class="ri-box-2-line"></i>
              workspace
              <i class="ri-arrow-right-s-fill"></i>
            </span>
          </div>
          <div role="list">
            <app-dropdown-list>
              @for (workspace of workspaces(); track $index) {
              <a [routerLink]="['/workspace', workspace.id]"
                class="w-full px-2 py-1 flex justify-start hover:bg-comment/10">
                {{ workspace.name }}
              </a>
              }
            </app-dropdown-list>
          </div>
        </app-dropdown>
      </div>
      <hr class="divide-x-2 border-blue/40">
      <nav class="flex-grow">
        <ul class="flex flex-col gap-2">
          <li>
            <a [routerLink]="['/']" class="w-full px-2 py-1 flex justify-start hover:bg-comment/10 gap-2">
              <i class="ri-home-2-line"></i>
              Home
            </a>
          </li>
          <li>
            <a [routerLink]="['/invitations']" class="w-full px-2 py-1 flex justify-start hover:bg-comment/10 gap-2">
              <i class="ri-mail-line"></i>
              Invitations
            </a>
          </li>
        </ul>
      </nav>
      <div class="flex flex-col gap-2">
        <!-- <app-button [theme]="'primary'" [outline]="true" [routerLink]="['/profile']">
          {{ this.authenticationService.user!.username }}
        </app-button> -->
        <div class="w-full px-2 py-1 flex justify-start gap-2">
          <i class="ri-user-line"></i>
          {{ this.authenticationService.user!.username }}
        </div>
        <!-- <app-button [theme]="'primary'" [outline]="true" (onClick)="this.authenticationService.logout()">
          logout
        </app-button> -->
        <button (click)="this.authenticationService.logout()"
          class="w-full px-2 py-1 flex justify-start gap-2 hover:bg-comment/10">
          <i class="ri-logout-box-line"></i>
          logout
        </button>
      </div>
    </div>
  </app-section>
</div>

@if (!isOpen()) {
<div class="absolute top-[4.5rem]  z-50">
  <button (click)="this.sidebarService.open()"
    class="w-8 h-8 rounded-full hover:shadow-md items-center justify-center border border-transparent hover:border-white flex hover:bg-bg bg-transparent transition-all text-transparent hover:text-white ">
    <i class="ri-arrow-right-s-line text-lg"></i>
  </button>
</div>
}
