<div class="w-full h-full flex flex-col">
  <div class="flex-grow pt-4 p-2">
    <app-section [title]="'Users'">
      <header class="w-full p-2 flex gap-2 items-center justify-between">
        <div class="w-min">
          <app-button (onClick)="this.invitationFormService.open()" [outline]="true">
            <span class="flex gap-2">
              Invite
              <i class="ri-add-line"></i>
            </span>
          </app-button>
        </div>
      </header>
      <app-invitation-form [idWorkspace]="idWorkspace"></app-invitation-form>
      <hr class="divide-x-2 divide-solid border-blue/40 mt-2 mb-4">
      @for (user of users(); track $index) {
      <div class="flex gap-4">
        <div>{{ user.user.username }}</div>
        <div>{{ user.user.email }}</div>
        <div>{{user.idWorkspace}}</div>
        <div>
          <button (click)="this.workspaceUsersService.deleteWorkspaceUser(this.idWorkspace, user.id)">
            <span class="flex gap-2">
              Remove
              <i class="ri-delete-bin-line"></i>
            </span>
          </button>
        </div>
      </div>
      }
    </app-section>
  </div>
</div>
