<div class="w-full h-full flex flex-col">
  <div class="flex-grow p-4">
    <app-section [title]="'Users'">
      <header class="w-full p-2 flex gap-2 items-center justify-between">
        <div class="w-min">
          <app-button (onClick)="this.invitationFormService.open()" [outline]="true">
            <span class="flex gap-2">
              Invite
              <i class="ri-add-line"></i>
            </span>
          </app-button>
        </div>
      </header>
      <app-invitation-form [idWorkspace]="idWorkspace"></app-invitation-form>
      <hr class="divide-x-2 divide-solid border-blue/40 mt-2 mb-4">
      @for (user of users(); track $index) {
      <div class="flex gap-4">
        <!-- <div>{{user.idUserWorkspace}}</div> -->
        <div>{{ user.username }}</div>
        <div>{{ user.email }}</div>
        <!-- <div>{{ user.role }}</div> -->
        <div class="w-min">
          <app-dropdown [direction]="'right'">
            <div role="selector">{{user.role}}</div>
            <app-dropdown-list role="list">
              @for (role of listRole; track $index) {
              <app-dropdown-item [isSelected]="user.role === role" (onClick)="changeRole(user.id, role)">
                {{ role }}
              </app-dropdown-item>
              }
            </app-dropdown-list>
          </app-dropdown>
        </div>
      </div>
      }
    </app-section>
  </div>
</div>
